# Configurações para acelerar npm/pnpm
registry=https://registry.npmjs.org/
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
progress=false

# Para pnpm
auto-install-peers=true
dedupe-peer-dependents=false
